form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label {
  font-size: 20px;
  font-weight: medium;
  color: #000000;
  margin: 10px 0px 10px 0px;
}

input[type="number"] {
  width: 50;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

button {
  /* class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded" */
  background-color: #18679b;
  padding: 5px 10px;
  display: block;
  margin: 0 auto;
  color: white;
  margin-top: 10px;
}

.result{
    display: flex;
    padding: 15px;
    font-size: large;
    justify-content: center;
    text-align: center;
    
}